Checks: '*,-cert-err58-cpp,-cert-err60-cpp,-modernize-use-trailing-return-type,-fuchsia*,-hicpp-no-array-decay,-hicpp-avoid-c-arrays,-hicpp-signed-bitwise'
CheckOptions:
  - key:             bugprone-argument-comment.StrictMode
    value:           '1'
